@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Quintessential&family=Tangerine:wght@400;700&display=swap');

:root {
  --md-primary-fg-color: #009485;
  --md-primary-fg-color--light: #26a699;
  --md-primary-fg-color--dark: #007a6c;
  --md-accent-fg-color: #0091eb;
  --md-accent-fg-color--transparent: #0091eb1a;
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #ffffffb3;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-family: 'Tangerine';
}

.md-typeset h1 {
  color: var(--md-default-fg-color);
  font-size: 3em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quintessential';
}

section.section2,
section.section3,
section.section4,
section.section5,
section.section6 {
  break-inside: avoid;
}

blockquote {
  font-family: 'Berkshire Swash';
}

#print_icon {
  color: var(--md-default-fg-color--light);
}

#print_icon:hover {
  color: var(--md-accent-fg-color);
}

.boss-monster {
  border: var(--md-default-fg-color) double 0.5em;
  padding: 0.5em;
}

.boss-name {
  font-size: x-large;
  text-decoration: underline;
}

@media not print {
  :root {
    --md-default-bg-color: #f1e9d2;
    --md-typeset-table-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-accent-bg-color);
  }

  .boss-monster {
    background-color: var(--md-accent-bg-color);
  }

  blockquote {
    background-color: #f7fcfe;
  }
  .boss-name {
    font-size: xx-large;
  }
}

.monster-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.monster-list p {
  min-width: 40ch;
}
